body {
  background-color: #FFF;
}
body form:nth-child(1) {
  font-weight: bold;
}
body form {
  font-size: 24px;
  width: 600px;
  margin: 0 auto;
}
body form input[type="button"],
body form input[type="submit"] {
  border-style: none;
  margin: 3px 5px 0 5px;
  padding: 5px 10px;
}
body form input {
  line-height: 16px;
}
body form select {
  font-size: 24px;
}
body h1 {
  text-align: center;
  color: #F00;
  background-color: #BFA;
}
