@charset "UTF-8";
body ul.box {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #F00;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
}
body ul.box > li {
  transition: 3s 0.1s all cubic-bezier(0, 2, 1, -1.59);
}
body ul.box > li > div {
  height: 30px;
  background-color: #bfa;
  border-radius: 15px;
}
body ul.box > li:hover {
  border-radius: 15px;
  color: #FFFF;
}
body ul.box > li:hover > ul {
  height: 90px;
  transition: 3s 0.1s all cubic-bezier(0, 2, 1, -1.59);
}
body ul.box > li:hover > ul {
  background-color: #f8f8f8;
  list-style: none;
}
body ul.box > li:hover > ul > li {
  padding: 0;
}
body ul.box > li > ul {
  height: 0;
  overflow: hidden;
  transition: 3s 0.1s all cubic-bezier(0, 2, 1, -1.59);
  padding: 0px;
}
body ul.box > li > ul > li {
  background-color: #baf;
  border-radius: 15px;
}
